extends ../layout/_layout

append title
    title 管理后台

append pageCss
    link(rel="stylesheet", href=`${setting.static}static/css/admin.css?t=${setting.tstamp}`)
    link(rel="stylesheet", href=`${setting.static}static/css/post.css?t=${setting.tstamp}`)

append content

    - const { list, total, pagesize, page, paginator, block } = data

    .col-layout
        #expand.btn.btn-expand 关闭
        .col-4
            include sidenav

        .col-20
            .col-list
                a.new-article(href=`/admin/write?block=${block}`) 新建文章
                if list && list.length
                    #articles-list.articles-list
                        -let index = 0;
                        each article in list
                            .dl(data-index=index++)
                                .dt
                                    .post-title
                                        i.icon.icon-title
                                        | #{article.title}
                                    if article.subtitle
                                        p.subtitle
                                            i.icon.icon-sub
                                            | #{article.subtitle}
                                    p.author 作者: #{article.author} | 分类: #{article.categoryName} | 标签: #{ (article.tags && article.tags.length) ? article.tags : '暂无标签'}
                                .dd.actions
                                    i.update.icon.icon-publish(data-id=article._id, data-isdraft="0", class=`${article.isDraft? '': 'hide'}`) 立即发布
                                    i.update.icon.icon-draft(data-id=article._id, data-isdraft="1", class=`${article.isDraft? 'hide': ''}`) 转为草稿
                                    i.icon.icon-delete(data-id=article._id) 删除
                                    a.icon.icon-edit(href=`/admin/write/${article.path}?block=${block}`) 编辑

                //- 分页 paginator
                include ../_partial/paginator
                +paginator(paginator)

            .col-content.post__content
                h1#post__title.post__title
                #preview
                    .temp-preview
                        i.icon.icon-preview
                        p 点击文章标题进行预览

    input(id="list", type="hidden" value=list)

append pagejs
    script(src=`${setting.static}static/js/lib/marked.min.js?t=${setting.tstamp}`)
    script(src=`${setting.static}static/js/lib/highlight.pack.js?t=${setting.tstamp}`)
    script(src=`${setting.static}static/js/lib/raphael.min.js?t=${setting.tstamp}`)
    script(src=`${setting.static}static/js/lib/underscore.min.js?t=${setting.tstamp}`)
    script(src=`${setting.static}static/js/lib/flowchart.min.js?t=${setting.tstamp}`)
    script(src=`${setting.static}static/js/lib/jquery.flowchart.min.js?t=${setting.tstamp}`)
    script(src=`${setting.static}static/js/lib/sequence-diagram.min.js?t=${setting.tstamp}`)
    script(src=`${setting.static}static/js/editormd.js?t=${setting.tstamp}`)
    script(src=`${setting.static}static/js/admin.js?t=${setting.tstamp}`)
    script.
        var expand = $('#expand');
        var layout = $('.col-layout');
        expand.on('click', function() {
            layout.toggleClass('closed');
        });
