extends ../layout/_layout

append pageCss
    link(rel="stylesheet", href=`${setting.static}static/css/admin.css?t=${setting.tstamp}`)

append content
    - const { categories } = data

    .col-layout
        .col-4
            include sidenav

        .col-20
            .col-wrap
                .card-title 分类管理:
                .card-header
                    input.input-add(type="text", placeholder="填写分类即可提交")
                    a.btn.submit.btn-disabled(href="javascript:;", title="填写分类后可提交") 新增

                .card-body
                    table.card-table
                        thead
                            th(width=50) 序号
                            th ID
                            th 分类名称(双击进行编辑)
                            th(width=200) 操作
                        tbody
                            - let index = 0
                            each item in categories
                                - index++
                                tr
                                    td #{index}
                                    td #{item._id}
                                    td
                                        .editable #{item.name}
                                    td
                                        a.btn-remove.btn.btn-small.btn-danger(href="javascript:;", data-id=`${item._id}`)
                                            i.icon.icon-delete
                                            | 删除

append pagejs
    script.
        // 新增
        var lock = false;
        var submit = $('.submit');
        var inputAdd = $('.input-add');

        function action(data, msg, callback) {
            $.ajax({
                type: 'POST',
                url: '/admin/cates-action',
                dataType: 'json',
                data: data,
                success: function(res) {
                    if(res.status === 0) {
                        $.growl.notice({
                            message: msg,
                        });

                        callback && callback();
                    } else {
                        $.growl.error({
                            message: res.msg,
                        });
                    }
                },
            })
        }

        function addItem() {
            if(lock) return;
            lock = true;
            setTimeout(function() {
                lock = false;
            }, 300);

            var cateName = inputAdd.val();
            var data = {
                type: 'add',
                name: cateName,
            };

            action(data, '新增成功!', function() {
                inputAdd.val('');
            });
        }

        inputAdd.on('input', function(){
            var val = $(this).val();
            var vals = [];
            inputAdd.each(function(index, item) {
                if($(item).val()) {
                    vals.push(1);
                };
            });

            if(vals.length === inputAdd.length) {
                submit.removeClass('btn-disabled');
            } else {
                submit.addClass('btn-disabled');
            }
        });

        // 提交
        inputAdd.on('keydown', function(e) {
            if(e.keyCode === 13) {
                addItem();
            }
        });
        $(document).on('click', '.submit', addItem);

        // 删除分类
        $(document).on('click', '.btn-remove', function() {
            var $this = $(this);
            var _id = $this.attr('data-id');
            var data = {
                type: 'remove',
                _id: _id,
            };

            action(data, '删除成功!');
        });
