extends ../layout/_layout

append pageCss
    link(rel="stylesheet", href=`${setting.static}static/css/admin.css?t=${setting.tstamp}`)

append content
    - const { menus } = data

    .col-layout
        .col-4
            include sidenav

        .col-20
            .col-wrap
                .card-title 前台导航菜单:
                .card-header
                    .card-form.pr
                        span.pickBtn
                            i.icon.icon-down
                        .label-block
                            label.form-label 菜单名称:
                            .form-label-input.label-inline
                                input.form-input.menu-must(type="text", placeholder="填写菜单名称")
                        .label-block
                            label.form-label 菜单链接:
                            .form-label-input.label-inline
                                input.form-input.menu-must(type="text", placeholder="填写菜单链接")

                        .label-block.pickup
                            label.form-label 菜单附属数据(用于扩展菜单字段):
                            .label-inline
                                .form-label-input
                                    input.json-key.form-input(type="text", placeholder="key", value="title")
                                    | -
                                    input.json-value.form-input(type="text", placeholder="value")

                                    span.btn.add-row +
                                    span.btn.remove-row -
                                .form-label-input
                                    input.json-key.form-input(type="text", placeholder="key", value="desc")
                                    | -
                                    input.json-value.form-input(type="text", placeholder="value")

                                    span.btn.add-row +
                                    span.btn.remove-row -
                                .form-label-input
                                    input.json-key.form-input(type="text", placeholder="key", value="cover")
                                    | -
                                    input.json-value.form-input(type="text", placeholder="value")

                                    span.btn.add-row +
                                    span.btn.remove-row -

                        a.btn.submit.btn-disabled(href="javascript:;", title="填写后可提交", style="margin-left:140px;") 新增

                .card-body
                    if menus && menus.length
                        table.card-table
                            thead
                                th(width=50) 序号
                                th(width=70) ID
                                th(width=70) 菜单名称(双击进行编辑)
                                th(width=60) 菜单链接(双击进行编辑)
                                th(width=60) 排序(双击进行编辑)
                                th(width=200) 操作
                            tbody
                                - let index = 0
                                each item in menus
                                    - index++
                                    tr
                                        td #{index}
                                        td #{item._id}
                                        td
                                            .editable #{item.name}
                                        td
                                            .editable #{item.link}
                                        td
                                            .editable #{item.sort}
                                        td
                                            a.btn-edit.btn(href="javascript:;", data-id=`${item._id}`, data-index=`${index-1}`)
                                                i.icon.icon-edit
                                            a.btn-hide.btn.btn-action(href="javascript:;", data-id=`${item._id}`, class=`${item.show ? '' : 'hide'}`, data-type="hide")
                                                i.icon.icon-hide
                                            a.btn-show.btn.btn-action(href="javascript:;", data-id=`${item._id}`, class=`${item.show ? 'hide' : ''}`, data-type="show")
                                                i.icon.icon-open
                                            a.btn-delete.btn.btn-danger(href="javascript:;", data-id=`${item._id}`)
                                                i.icon.icon-delete
                        input#menu(type="hidden", value=menus)

                    else
                        .nothing
                            i.icon.icon-result
                            p 暂无数据

append pagejs
    script(src=`${setting.static}static/js/menus.js?t=${setting.tstamp}`)
