extends ../layout/_layout

append title
    title 发布文章

append pageCss
    link(rel="stylesheet", href=`${setting.static}static/css/admin.css?t=${setting.tstamp}`)
    link(rel="stylesheet", href=`${setting.static}static/css/post.css?t=${setting.tstamp}`)
    link(rel="stylesheet", href=`${setting.static}static/css/editormd.css?t=${setting.tstamp}`)
    link(rel="stylesheet", href=`${setting.static}static/css/codemirror.css?t=${setting.tstamp}`)

append content

    - const { article, categories, block } = data

    .form-label
        .form-figure
            input#article-title(type="text", placeholder="文章标题...", value=`${article ? article.title : ''}`, data-post="title")
            if article
                input#postid.label-input(type="hidden", value=article.path, readonly)
            else
                input#postid.label-input(type="text", placeholder="文章 id...(不能包含空格等特殊字符)")

    main.editor__container.post__content

        #scrollWrap-textarea.scrollWrap-textarea
            textarea#textarea.label-textarea.hide(type="text", data-post="markdown") [TOCM]

        input#copyElement(type="text", style="position:absolute; top:0; left: 0; width:10px; height:10px; opacity:0; border:0; z-index:-1;")
        input#_id(type="hidden", value=`${article ? (article._id || '') : ''}`)
        input#markdown(type="hidden", value=`${article ? (article.markdown || article.content) : ''}`)
        input#subtitle(type="hidden", value=`${article ? (article.subtitle || '') : ''}`)
        input#categoryId(type="hidden", value=`${article ? (article.categoryId || '') : ''}`, data-post="categoryId")
        input#categoryName(type="hidden", value=`${article ? article.categoryName : ''}`, data-post="categoryName")
        input#author(type="hidden", value=`${article ? article.author : ''}`)
        input#tags(type="hidden", value=`${(article && article.tags) ? article.tags.join(", ") : ''}`)
        input#date(type="hidden", value=`${article ? article.date : ''}`)
        input#cover(type="hidden", value=`${article ? (article.cover || '') : ''}`)
        input#categories(type="hidden", value=`${categories ? JSON.stringify(categories) : ''}`)
        input#block(type="hidden", value=`${block || 'articles'}`)

append pagejs
    include ../_partial/library

    script(src=`${setting.static}static/js/filepond.js?t=${setting.tstamp}`)
    script(src=`${setting.static}static/js/post.js?t=${setting.tstamp}`)
    script(src=`${setting.static}static/js/editormd.js?t=${setting.tstamp}`)
    script(src=`${setting.static}static/js/write.js?t=${setting.tstamp}`)
