extends layout/_layout

append title
    -const { route, menus } = data
    -let curmenu = {}
    each menu in menus
        if menu.link === route
            - curmenu = menu

    title 凯子 | #{curmenu.name}

append pageCss
    link(rel="stylesheet", href=`${setting.static}static/css/post.css?t=${setting.tstamp}`)

append content

    main.page__container
        .page__content
            .content__container
                header#papers-header.post__info
                    h1.post__title #{curmenu.name}
                    if curmenu.settings
                        p.post__desc #{curmenu.settings.desc}

                if list
                    ul.blog__list
                        each item in list
                            li
                                a.blog__cover
                                    img.cover(src="", alt="")
                                .blog__intro
                                    h2.blog__title #{item.name}
                                    .blog__info
                                        span.blog__date #{item.date}
                                        span.dot ·
                                        span.blog__tags #{item.tags}

                    //- 分页 paginator
                    include _partial/paginator
                    +paginator(data.route)

                else
                    .nothing
                        i.icon.icon-result
                        p 暂无数据

    input(id="type", type="hidden", value=curmenu.link)

append pagejs
    script.
        var type = $('#type').val();

        $.ajax({
            type: 'POST',
            url: type + '/111',
            data: {
                title: 'title',
                content: 'content',
            },
            success: function(res) {
                // console.log(res);
            }
        });
