extends layout/_layout

append title
    title 凯子 | 悦读

append pageCss
    link(rel="stylesheet", href=`${setting.static}static/css/post.css?t=${setting.tstamp}`)

append content
    main.page__container.page__main
        .page__content
            .content__container
                header.post__info
                    h1.post__title 越读悦想读

                if list
                    ul.blog__list
                        each item in list
                            li
                                a.blog__cover
                                    img.cover(src="", alt="")
                                .blog__intro
                                    h2.blog__title #{item.name}
                                    .blog__info
                                        span.blog__date #{item.date}
                                        span.dot ·
                                        span.blog__tags #{item.tags}

                //- 分页 paginator
                include _partial/paginator
                +paginator('/reading')
