article.page__mini-article
    .mini-article__cover(style=`background: url(${ post.cover || setting.default_cover }) 50% 50% no-repeat;`)
        .mini-article__date
            - var date = new Date(post.date || post.updatedAt)
            span.date__day #{date.getDate()}
            span.date__month #{date.getMonth() + 1}月

        a.icon.icon-open(target="_blank", href=`/articles?id=${post.path}`)

    .mini-article__info
        h3.mini-article__title
            a(href=`/articles?id=${post.path}`, title=post.title) #{ post.title }
        p.mini-article__author by&nbsp;
            a.author__item(href=setting.author.link, target="_blank") #{ setting.author.name || setting.author.nick }

        .min-article__desc !{ post.subtitle }

        .min-article__tags
            i.icon.icon-tags
            ul.tags__list.clearfix
                each tag in post.tags
                    li.tags__item
                        a(href=`/tags?tag=${tag}`) #{tag}
