doctype html
html(lang="en")
    //- loading 页面
    - var isMobile = locals.isMobile
    - var pageheader = locals.pageheader
    - var hideheader = locals.hideheader
    - var setting = locals.setting
    - var data = locals.data

    head
        include head.pug
        block title

        link(rel="stylesheet", href=`${setting.static}static/css/base.css?t=${setting.tstamp}`)
        block pageCss

    body

        #page-loading.page
            .page-loading
                span
                    each n in [0, 1, 2, 3]
                        span
                .cssload-base
                    span
                    .cssload-face
            .cssload-longfazers
                each n in [0, 1, 2, 3]
                    span

        #page.page

            if !hideheader
                include header.pug

            //- content
            block content

            if !hideheader
                include footer

            //- 返回顶部
            #back-top.back-top.js-hidden
                i.icon.icon-top

        script.
            var isMobile = #{isMobile};
        script(type="text/javascript", src='https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js')
        script(type="text/javascript", src=`${setting.static}static/js/lib.js?t=${setting.tstamp}`)
        script(type="text/javascript", src=`${setting.static}static/js/common.js?t=${setting.tstamp}`)

        block pagejs
