doctype html
html(lang="en")
    //- loading 页面
    - var pageheader = locals.pageheader
    - var setting = locals.setting
    - var data = locals.data

    head
        include head.pug

        link(rel="stylesheet", href=`${setting.cdn}static/css/base.css?t=${setting.tstamp}`)
        block pageCss

    body

        #page-loading.page
            .page-loading
                span
                    each n in [0, 1, 2, 3]
                        span
                .cssload-base
                    span
                    .cssload-face
            .cssload-longfazers
                each n in [0, 1, 2, 3]
                    span

        #page.page

            include header.pug

            //- content
            block content

            include footer
            //- 返回顶部
            #back-top.back-top.back-top--hidden.js-hidden
                i.icon.icon-top

            .js-hidden(style="font-size: 26px; position:fixed; bottom:0;")
                i.icon.icon-enter
                i.icon.icon-menu
                i.icon.icon-eye
                i.icon.icon-tab
                i.icon.icon-twitter
                i.icon.icon-search
                i.icon.icon-weibo
                i.icon.icon-comment
                i.icon.icon-time
                i.icon.icon-douban
                i.icon.icon-zhihu
                i.icon.icon-write
                i.icon.icon-loader
                i.icon.icon-address
                i.icon.icon-share
                i.icon.icon-like
                i.icon.icon-github
                i.icon.icon-rss
                i.icon.icon-email
                i.icon.icon-email2
                i.icon.icon-next
                i.icon.icon-prev
                i.icon.icon-prev
                i.icon.icon-thanks
                i.icon.icon-telegram
                i.icon.icon-top
                i.icon.icon-category
                i.icon.icon-quotes
                i.icon.icon-facebook
                i.icon.icon-in

        script(type="text/javascript", src=`${setting.cdn}static/js/jQuery.v3.3.1.min.js`)
        script(type="text/javascript", src=`${setting.cdn}static/js/common.js?t=${setting.tstamp}`)
        script(type="text/javascript", src=`${setting.cdn}static/js/lib.js?t=${setting.tstamp}`)

        block pagejs
