doctype html
html(lang="en")
    //- loading 页面
    - const isMobile = locals.isMobile
    - const pageheader = locals.pageheader
    - const hideheader = locals.hideheader
    - const setting = locals.setting
    - const data = locals.data

    head
        include head.pug
        block title

        link(rel="stylesheet", href=`${setting.static}static/css/base.css?t=${setting.tstamp}`)
        block pageCss

    body

        #page-loading.page
            .page-loading
                span
                    each n in [0, 1, 2, 3]
                        span
                .cssload-base
                    span
                    .cssload-face
            .cssload-longfazers
                each n in [0, 1, 2, 3]
                    span

        #page.page

            if !hideheader
                include header.pug

            //- content
            block content

            if !hideheader
                include footer

            //- 返回顶部
            #back-top.back-top.js-hidden
                i.icon.icon-top

        script.
            var isMobile = #{isMobile};
            window.performanceTimer = {};
        script.
            window.performanceTimer.jQStart = +window.performance.now();
        script(src='https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js')
        script.
            window.performanceTimer.libStart = +window.performance.now();
        script(src=`${setting.static}static/js/lib.js?t=${setting.tstamp}`)
        script.
            window.performanceTimer.commonStart = +window.performance.now();
        script(src=`${setting.static}static/js/common.js?t=${setting.tstamp}`)
        script.
            window.performanceTimer.commonEnd = +window.performance.now();

        block pagejs
