- const about = setting.about

footer.page__footer
    section.footer__top
        .page__container.footer__container
            if 'about'
                .footer-top__item.footer-top__item--2
                    h3.item__title 关于
                    .item__content
                        p.item__text #{about.info}
                        ul.footer__contact-info
                            li.contact-info__item
                                i.icon.icon-location
                                span #{about.address}
                            li.contact-info__item
                                i.icon.icon-mail
                                span #{about.email}

            if setting.QRcode && !isMobile
                .footer-top__item.footer__image
                    img(src=setting.QRcode alt="logo" title=setting.title)

            if setting.footers
                each item, index in setting.footers
                    .footer-top__item
                        h3.item__title #{item.name}
                        .item__content
                            ul.footer-top__list
                                if item.values.length
                                    each link in item.values
                                        li.list-item
                                            a(target="_blank", href=link.link) #{link.desc}
                                else
                                    li.list-item
                                        a(target="_blank", href=link.link) #{link.desc}

    section.footer__bottom
        .page__container.footer__container
            p.footer__copyright 主题 ©
                a(href="https://github.com/Mrminfive/hexo-theme-skapp" target="_blank") Skapp
                | 2017, 由
                a(href="https://koa.bootcss.com/" target="_blank") Koa
                | 强力驱动 | Hosted by
                a(href="https://pages.coding.me" target="_blank" style="font-weight: bold") Coding Pages
                | . 备案/许可证号：
                a(href="http://www.beian.miit.gov.cn/state/outPortal/loginPortal.action" target="_blank") 粤ICP备18059825号-1

            ul.footer__social-network.clearfix
                if setting.secials
                    each item in setting.secials
                        li.social-network__item
                            a(target="_blank", href=item.link, title=item.icon)
                                i.icon(class=`icon-${item.icon}`)
