
if data
    -const { route, menus } = data

    header(id=`${pageheader !== false? 'page-header' : ''}`, class=`page__header${pageheader === false? '--small' : ''}`, style=`${pageheader === false ? '' : `background: url(${setting.header_cover}) 50% 50%;background-size:cover;`}`)
        nav.page__navbar
            .page-navmaskbg
            .page-navmask
            .page__container.navbar-container
                a#page__logo.page__logo(href=setting.domain, title=setting.title, alt=setting.title)
                    span.letter(data-letter="k") k
                    span.letter(data-letter="e") e
                    span.letter(data-letter="y") y
                    span.letter(data-letter="d") d
                    span.letter(data-letter="o") o
                    span.letter(data-letter="n") n
                    span.letter(data-letter="e") e

                nav#page__nav
                    ul.nav__list.clearfix
                        each menu in menus
                            if menu.show
                                li.nav__item(class=`${menu.link === route ? 'active' : ''}`)
                                    a(href=menu.link, title=menu.name) #{menu.name}

                button.page__menu-btn(type="button")
                    i.icon.icon-menu

        if pageheader !== false
            section.page__info
                h1.info__title !{setting.subtitle}
                hr.info__hr
                p.info__desc !{setting.subtitle_desc}
